## Importing libraries

In [108]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

## Extracting data from Wikipedia using requests and BeautifulSoup libraries

In [128]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
extracting_data = requests.get(url).text
wiki_data = BeautifulSoup(extracting_data, 'lxml')

## Converting extracted data to a pandas dataframe and cleaning the data

In [129]:
columns = ['Postalcode','Borough','Neighborhood']
df_toronto = pd.DataFrame(columns = columns)
content = wiki_data.find('div', class_='mw-parser-output')
content_table = content.table.tbody
postcode = 0
borough = 0
neighborhood = 0

In [130]:
for tr in table.find_all('tr'):
    i = 0
    for td in tr.find_all('td'):
        if i == 0:
            postcode = td.text
            i = i + 1
        elif i == 1:
            borough = td.text
            i = i + 1
        elif i == 2: 
            neighborhood = td.text.strip('\n').replace(']','')
    df_toronto = df_toronto.append({'Postalcode': postcode,'Borough': borough,'Neighborhood': neighborhood},ignore_index=True)

In [131]:
df_toronto.head()

  Postalcode         Borough      Neighborhood
0          0               0                 0
1      M1A\n  Not assigned\n      Not assigned
2      M2A\n  Not assigned\n      Not assigned
3      M3A\n    North York\n         Parkwoods
4      M4A\n    North York\n  Victoria Village

In [132]:
df_toronto.reset_index(drop = True, inplace = True)

In [133]:
df_toronto = df_toronto.replace(r'\n','', regex=True) 
df_toronto = df_toronto[df_toronto.Borough != "Not assigned"].reset_index(drop=True)
df_toronto = df_toronto[df_toronto.Neighborhood != "Not assigned"].reset_index(drop=True)

In [134]:
df_toronto.drop(df_toronto.head(1).index,inplace=True)

In [135]:
df_toronto

,Postalcode,Borough,Neighborhood
1,M3A,North York,Parkwoods
2,M4A,North York,Victoria Village
3,M5A,Downtown Toronto,"Regent Park, Harbourfront"
4,M6A,North York,"Lawrence Manor, Lawrence Heights"
5,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
99,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
100,M4Y,Downtown Toronto,Church and Wellesley
101,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
102,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
103,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

## Print dataframe final shape

In [136]:
print(df_toronto.shape)

(103, 3)

In [137]:
df_toronto.to_csv('Capstone_canada.csv')